.countdown {
	display: block;
	width: 100%;
	max-width: 1200px;
	height: 70px;
	margin: 0 auto;
	background: #fff;

	.countdown-wrapper {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
		color: #0068B0;
	}

	.countdown-left {
		display: inline-block;
		margin: 0;
		padding-right: 1em;
		border-right: 1px solid #d0d0d0;
	}

	.countdown-right {
		display: inline-block;
		padding-left: 1em;
		font-size: 1.25em;
		color: #2AA8E2;

		> span {
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			font-family: 'Droid Sans Mono', monospace;
		}

		.clock-small {
			width: 28px;
		}
	}

	@media (max-width: 768px) {
		height: 85px;

		.countdown-wrapper {
			flex-direction: column-reverse;
		}

		.countdown-left, .countdown-right {
			border: 0;
			padding: 0;
		}
		
		.countdown-left {
			text-align: center;
			font-size: 0.9em;
		}
	}
}